@import "tailwindcss";

:root {
  --background: #F7F7F7;
  --foreground: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-poppins-black);
  --font-regular: var(--font-poppins-regular);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F7F7F7;
    --foreground: #1A1A1A;
  }
}

.font-geist {
  font-family: var(--font-geist-sans);
}

.font-poppins-regular {
  font-family: var(--font-poppins-regular);
}

.font-poppins-black {
  font-family: var(--font-poppins-black);
}

.font-geist-mono {
  font-family: var(--font-geist-mono);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 { font-size: 2.25rem; font-weight: 900;} /* 36px */
h2 { font-size: 1.875rem; } /* 30px */
h3 { font-size: 1.5rem; }   /* 24px */
h4 { font-size: 1.25rem; }  /* 20px */
h5 { font-size: 1.125rem; } /* 18px */
h6 { font-size: 1rem; }     /* 16px */